html, body, #root {
    height: 100%;
    margin: 0;
  }
main{
    min-height: 76vh;
} 

.Rating span{ 
    margin:0.1rem

}

Footer{
    /* min-height: 4rem; */
   
    margin-top: auto;
      
}

h1{
    font-size: 1.8rem;
    padding: 1rem 0; 
}

h2{
    font-size: 1.4rem;
    padding: 0.5rem 0; 
}